body {
    background-color: #bc1af2;
    font-family: Arial, sans-serif;
}

 .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(306, 64%, 80%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 h1 {
    text-align: center;
    margin-bottom: 20px;
}

 .form-label {
    font-weight: bold;
}

 .btn {
    display: block;
    width: 100%;
    color: blueviolet;
}

 #pokemon_name {
    margin-top: 20px;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
}
    #pokemon_name img {
        margin-top: 15px;
        width: 250px;
        height: 250px;
    }
    